.DS_Store
__pycache__/
*.py[cod]
*.so

.venv/
venv/
.env

.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

bert-results/
bert-results-simple/
bert-logs/
bert-logs-simple/
results/
results-simple-roberta/
logs/
logs-simple-roberta/

dist/
build/
